<div class = 'list'>
	<div class = 'showCard'>
	</div>
	<form>
		<input type ='text'>
		<input type = 'submit' value = 'Add'>
	</form>
	<div class = 'deck'> 
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	</div>                            
</div>
