<div class = 'list'>
{{card | json}}
	<div class = 'showCard'>
	</div>
	<form class = 'submit' (submit)='grabCard()'>
		<input
		type ='text'
		name ='card'
		[(ngModel)]= 'card'
		class = 'addCards'>
		<input class = 'submit' type = 'submit' value = 'Add'>
	</form>
	<p class = 'valid' *ngIf='validator== false'>Not in the Database</p>
	<div class = 'deck'> 
		<p *ngFor="let card of decklist" class='card'>{{card}}</p>
	</div>
	<button type='button'>Save</button>
	<button type='button'>Save New</button>
	<button type='button'>Clear</button>        
</div>
