<div class = 'list'>
{{card | json}}
	<div class = 'showCard'>
	</div>
	<form (submit)='grabCard()'>
		<input
		type ='text'
		name ='card'
		[(ngModel)]= 'card'>
		<input type = 'submit' value = 'Add'>
	</form>
	<div class = 'deck'> 
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	    <p>TEST</p>
	</div>                            
</div>
